name: Create Cluster

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  create-cluster:
    runs-on: ubuntu-latest
    steps:
      - name: Kubernetes KinD Cluster
        uses: container-tools/kind-action@v1
      - run: |-
        pwd
        env|sort
        find .
